.button {
  display: inline-block;
  padding: 14px;
  background-color: #0c7466;
  color: #ffffff;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  outline: none;
  text-transform: uppercase;
  font-family: "Open Sans";
  letter-spacing: 1.4px;
}

.button:hover {
  background-color: #044d41;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.493);
}
